.firstSection {
      background: url(../assets/backgrounds/cassi-josh-644012-unsplash.jpg) no-repeat center fixed;
}

.additionalPadding {
    padding: 8% 5% !important;
}

.additionalPaddingSmall {
    padding: 4% 5% !important;
}

.additionalPaddingParent {
    padding: 4% 4%;
}

.additionalPaddingParent-1 {
    padding: 1% 4%;
}

.marginTop {
      margin-top: 20px;
}

.secondSection {
      background: url(../assets/backgrounds/art-by-lonfeldt-592708-unsplash.jpg) no-repeat center fixed;
}

.colorShadow {
    // box-shadow: 3px 3px $color1-4, -3px -3px $color2-4;
    box-shadow: 3px 3px white, -3px -3px white;
}

.noTopMargin {
    margin-top: 0 !important;
}

@include break(640) {
    .noTopMargin {
    margin-top: 30px !important;
}
}

.uk-card-media-top {
    img {
        box-shadow: 0px 1px white;
    }
}

.uk-card-media-bottom {
    img {
        box-shadow: 0px -1px white;
    }
}

.thirdSection {
      background: url(../assets/backgrounds/art-by-lonfeldt-636728-unsplash.jpg) no-repeat center fixed;
}

.whiteBackground {
    background: rgba($color: #ffffff, $alpha: 0.9);
}