.additionalPadding {
    padding: 8% 5% !important;
}

.additionalPaddingSmall {
    padding: 4% 5% !important;
}

.additionalPaddingParent {
    padding: 4% 4%;
}

.marginTop {
      margin-top: 20px;
}

.firstSection {
      background: url(../assets/cassi-josh-644012-unsplash.jpg) no-repeat center fixed;
}

.secondSection {
      background: url(../assets/art-by-lonfeldt-592708-unsplash.jpg) no-repeat center fixed;
}