.additionalPadding {
    padding: 8% 5% !important;
}

.additionalPaddingSmall {
    padding: 4% 5% !important;
}

.additionalPaddingParent {
    padding: 4% 4%;
}

.marginTop {
      margin-top: 20px;
}