// Breakpoints
$bp_mobile: 599px;
$bp_mobilelandscape: 760px;
$bp_tablet: 960px;
$bp_tabletlandscape: 1160px;
$bp_laptop: 1280px;
$bp_desktop: 1920px;

$gap: 64;
$tablet: 769;
$desktop: 960 + (2 * $gap);
$widescreen: 1152 + (2 * $gap);
$fullhd: 1344 + (2 * $gap);

// Breakpoint using custom size
@mixin break($breakpoint) {
    @media only screen and (max-width: $breakpoint + px) {
        @content;
    }
}

@mixin breakMin($breakpoint) {
    @media only screen and (min-width: $breakpoint + px) {
        @content;
    }
}
