.hero {
      min-height: 100vh;
      background-size: cover;
}

.navText {
      font-size:150% !important;
      text-transform: inherit !important;
      color: white !important;
}

.navTextSmall {
      font-size:130% !important;
      text-transform: inherit !important;
      color: white !important;
}

.navColor {
    background: $color1-3 !important;
}

.firstNavElement {
      margin-left: 30px;
}