@import "../bootstrap-4.1.0/scss/mixins/_breakpoints";

.navImage {
    background: $color2-1;
    padding: 7px;
    border-radius: 7px;
}

.navBackground {
    background: $color0-4;
}

.lineHeightAdjust {
    line-height: 40px;
}

@include media-breakpoint-up(lg) {
    .lineHeightAdjust {
    line-height: 37px;
}
}