.hero {
  min-height: 100vh;
  background-size: cover;
}

.navText {
  font-size: 150% !important;
  text-transform: inherit !important;
  color: white !important;
}

.navTextSmall {
  font-size: 130% !important;
  text-transform: inherit !important;
  color: white !important;
}

.navColor {
  background: #74132C !important;
}

.firstNavElement {
  margin-left: 30px;
}

button {
  margin-top: 8px !important;
}

.uk-card-primary {
  background-color: #1D0539 !important;
}

.firstSection {
  background: url(../assets/backgrounds/cassi-josh-644012-unsplash.jpg) no-repeat center fixed;
}

.additionalPadding {
  padding: 8% 5% !important;
}

.additionalPaddingSmall {
  padding: 4% 5% !important;
}

.additionalPaddingParent {
  padding: 4% 4%;
}

@media only screen and (max-width: 640px) {
  .additionalPaddingParent {
    padding: 4% 4% 11% 4%;
  }
}
.additionalPaddingParent-1 {
  padding: 2% 4%;
}

@media only screen and (max-width: 640px) {
  .additionalPaddingParent-1 {
    padding: 3% 4%;
  }
}
.marginTop {
  margin-top: 20px;
}

.secondSection {
  background: url(../assets/backgrounds/art-by-lonfeldt-592708-unsplash.jpg) no-repeat center fixed;
}

@media only screen and (max-width: 640px) {
  .secondSection {
    background: url(../assets/backgrounds/art-by-lonfeldt-592708-unsplash.jpg);
  }
}
.colorShadow {
  -webkit-box-shadow: 3px 3px white, -3px -3px white, 3px -3px white, -3px 3px white;
          box-shadow: 3px 3px white, -3px -3px white, 3px -3px white, -3px 3px white;
}

.noTopMargin {
  margin-top: 0 !important;
}

@media only screen and (max-width: 640px) {
  .noTopMargin {
    margin-top: 30px !important;
  }
}
.uk-card-media-top img {
  -webkit-box-shadow: 0px 1px white;
          box-shadow: 0px 1px white;
}

.uk-card-media-bottom img {
  -webkit-box-shadow: 0px -1px white;
          box-shadow: 0px -1px white;
}

.thirdSection {
  background: url(../assets/backgrounds/art-by-lonfeldt-635275-unsplash.jpg) no-repeat center fixed;
}

.forthSection {
  background: url(../assets/backgrounds/art-by-lonfeldt-592711-unsplash.jpg) no-repeat center fixed;
}

.whiteBackground {
  background: rgba(255, 255, 255, 0.98);
}

.mobileBodyMenu {
  color: #74132C;
}
