.hero {
  min-height: 100vh;
  background-size: cover;
}

.navText {
  font-size: 150% !important;
  text-transform: inherit !important;
  color: white !important;
}

.navTextSmall {
  font-size: 130% !important;
  text-transform: inherit !important;
  color: white !important;
}

.navColor {
  background: #1D0539 !important;
}

.firstNavElement {
  margin-left: 30px;
}

.additionalPadding {
  padding: 8% 5% !important;
}

.additionalPaddingSmall {
  padding: 4% 5% !important;
}

.additionalPaddingParent {
  padding: 4% 4%;
}

.marginTop {
  margin-top: 20px;
}

.firstSection {
  background: url(../assets/cassi-josh-644012-unsplash.jpg) no-repeat center fixed;
}

.secondSection {
  background: url(../assets/art-by-lonfeldt-592708-unsplash.jpg) no-repeat center fixed;
}

.colorShadow {
  -webkit-box-shadow: 3px 3px black, -3px -3px black;
          box-shadow: 3px 3px black, -3px -3px black;
}

.noTopMargin {
  margin-top: 0 !important;
}

@media only screen and (max-width: 640px) {
  .noTopMargin {
    margin-top: 30px !important;
  }
}
