/*http://paletton.com/palette.php?uid=1000u0ksceVh-pvmXk8z5a1L85-*/

body,html {
  margin: 0;
  padding: 0;
  font-family: 'Space Mono', cursive,  monospace;
  /*background-color: #770E0E;*/
}

h2 {
  margin: 0;
  padding: 0.7em;
}

header {
  margin: 0;
  padding: 0;
  background-color: #2C0000;
  color: white;
  box-shadow: 0px 0px 10px #333;
}

ul {
  min-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

li {
  font-size: 1.5em;
  padding: 15px;
  list-style-type: none;
}

li > a {
  text-decoration: none;
  color: white;
}

li:hover {
  background-color: white;
  color: #2C0000;
  transform: scale(1.1, 1);
  cursor: pointer;
}

li:hover .githublink {
  background-color: white;
  color: #2C0000;
  transform: scale(1.1, 1);
  cursor: pointer;
}

.nav-title {
  font-size: 1.7em;
  font-family: "Concert One", cursive;
  padding-right: 40px;
}

.nav-title:hover {
  background-color: #2C0000;
  color: white;
  transform: scale(1.0);
  cursor: default;
}

.intro-box {
  min-width: 400px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 0px 0px 10px #333 inset;
}

.portrait-img {
  transform: translate(-5px, 3px);
  width: 30vw;
  min-width: 300px;
}

.introduction {
  padding-left: 3vw;
  padding-right: 3vw;
  width: 62vw;
}

.undertitle {
  text-align: center;
  background-color: #770E0E;
  color: white;
}

.projects {
  min-width: 400px;
  min-height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0px 0px 10px #333 inset;
}

iframe {
  border: none;
  width: 30%;
  min-width: 400px;
  height: 400px;
}

.other {
  display: flex;
  justify-content: center;
}

.navigation-projects {
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.loadbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  width: 3%;
  min-width: 50px;
  height: 400px;
}

.left {
  background-color: #A02D2D;
}

.right  {
  background-color: #CB5C5C;
}
