body,html {
  margin: 0;
  padding: 0;
  font-family: 'Space Mono', cursive,  monospace;
  /*background-color: #770E0E;*/
}

header {
  margin: 0;
  padding: 0;
  background-color: #2C0000;
  color: white;
  box-shadow: 0px 0px 10px #333;
}

ul {
  min-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

li {
  font-size: 1.5em;
  padding: 15px;
  list-style-type: none;
}

li > a {
  text-decoration: none;
  color: white;
}

li:hover {
  background-color: white;
  color: #2C0000;
  transform: scale(1.1, 1);
  cursor: pointer;
}

li:hover .githublink {
  background-color: white;
  color: #2C0000;
  transform: scale(1.1, 1);
  cursor: pointer;
}

.nav-title {
  font-size: 1.6em;
  font-family: "Concert One", cursive;
  padding-right: 40px;
}

.nav-title:hover {
  background-color: #2C0000;
  color: white;
  transform: scale(1.0);
  cursor: default;
}

.intro-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 0px 0px 10px #333;
}

.portrait-img {
  transform: translateY(3px);
  width: 30vw;
  min-width: 300px;
}

.introduction {
  padding-left: 3vw;
  padding-right: 3vw;
  width: 64vw;

}
